<template name="Home">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomeHomeJumbotron}}
	</div>
</template>

<template name="HomeHomeJumbotron">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				ILCT Logistics Ltd.
			</h1>
			<p id="jumbotron-text">
				<b>M-05 Gonzales Ave. San Vicente, Apalit, Pampanga</b><br /><br />Established in 2016, ILCT Logistics Ltd. is one of the the leading international freight forwarding, relocation and project logistics management companies delivering cost-effective solutions throughout the CIS, and Middle East.<br /><br />
				ILCT Logistics Ltd. develops comprehensive freight forwarding, project logistics and relocation service plans tailored to meet specific requirements of customers. This is accomplished by learning customers’ exact objectives with regards to their internal and external requirements, thus ensuring that ILCT Logistics Ltd. will provide quality services more consistently than any other service provider in the market.
				Our tried and proven multimodal transportation routes to the CIS and Middle East ensure international reach whatever your cargo and timeframe is. As the preferred supplier for various Fortune 500 companies and the first point of contact to increase supply chain efficiency in the CIS and Middle East, we are very proud of our reputation and always strive to maintain it.<br />
			</p>
			<p id="jumbotron-button">
				<a href="#" class="btn btn btn-primary btn-lg" role="button">
					Proceed to List of Clients &raquo;
				</a>
			</p>
		</div>
	</div>
</template>

