<template name="Home">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomeHomeJumbotron}}
	</div>
</template>

<template name="HomeHomeJumbotron">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				Dataview Application
			</h1>
			<p id="jumbotron-text">
				<b>Sample dataview web application using Meteor.</b><br />It displays in DataView collections from a database with view, search, insert, edit and delete functions.<br />
			</p>
			<p id="jumbotron-button">
				<a href="#" class="btn btn btn-primary btn-lg" role="button">
					Proceed to Dataview &raquo;
				</a>
			</p>
		</div>
	</div>
</template>

